/*
    *自定义样式
*/
html, body, h1, h2, h3, h4, h5, h6, hr, div, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, i {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box;
}

html, body, .rx-wrap {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  outline: none;
  hide-focus: expression( this.hideFocus=true );
}

a:focus {
  outline: none;
}

input, button, select {
  outline: none;
}

input::-ms-clear {
  display: none;
}

ul, li {
  list-style: none;
}

img, a {
  border: 0 none;
}

i {
  display: inline-block;
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*webfont样式*/
.web-font {
  font-size: 12px;
}

/*浮动&清除浮动*/
.rx-fl {
  float: left;
}

.rx-fr {
  float: right;
}

.rx-clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*定位*/
.rx-relative {
  position: relative;
}

.rx-absolute {
  position: absolute;
}

/*居中*/
.rx-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*按钮*/
.btn {
  position: relative;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  background: #50aff2;
  border-radius: 19px;
  padding: 0 22px;
}

/*去除圆角*/
.rx-clear-radius {
  border-radius: 0 !important;
}

/*边距*/
.rx-margin-top-20 {
  margin-top: 20px;
}

.rx-padding-20-0 {
  padding: 20px 0;
}

.rx-padding-left-10 {
  padding-left: 10px;
}

.rx-padding-right-10 {
  padding-right: 10px;
}

.rx-clear-padding-top {
  padding-top: 0 !important;
}

/*头部*/
.rx-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
  z-index: 999;
}

.rx-header-scroll, .rx-header-bg {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.rx-header .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.rx-header .inner .rx-toggle {
  position: absolute;
  top: 14.5px;
  right: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  padding: 2px 8px;
  cursor: pointer;
  display: none;
}

.rx-header .inner .rx-toggle i {
  font-size: 20px;
  color: #585858;
}

/*logo*/
.rx-header .rx-logo {
  padding: 12px 0 8px;
}

.rx-header .rx-logo img {
  width: 122px;
}

/*导航*/
.rx-header .rx-nav ul li {
  position: relative;
  float: left;
}

.rx-header .rx-nav ul li:not(:last-child) {
  margin-right: 12px;
}

.rx-header .rx-nav ul li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  padding: 0 18px;
  border-radius: 5px;
  margin: 15px 0px;
}

.rx-header .rx-nav ul li.first-subnav a{
  padding-right: 24px;
}

.rx-header .rx-nav ul li a i.arrow-bottom {
  position: absolute;
  right: 8px;
  top: 13px;
  border: 5px solid transparent;
  border-top-color: #333;
  width: 0;
  height: 0;
}

.rx-header .rx-nav ul li:hover i.arrow-bottom,
.rx-header .rx-nav ul li a.active i.arrow-bottom {
  border-top-color: #50aff2;
}

.rx-header .rx-nav ul li:hover a,
.rx-header .rx-nav .rx-subnav a.active {
  color: #50aff2;
}

.rx-header .rx-nav ul li a.active{
  color: #fff;
  background: #30a8ff;
}

/*子菜单*/
.rx-header .rx-nav .rx-subnav {
  position: absolute;
  top: 57px;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, .2);
  z-index: 999;
  display: none;
  width: 248px;
  padding: 5px 0 0;
}

.rx-header .rx-nav .rx-subnav.subnav {
  width: 220px;
  right: -220px;
}

.rx-header .rx-nav .rx-subnav ul li {
  float: none;
  margin: 0;
}

.rx-header .rx-nav .rx-subnav ul li a {
  height: initial;
  line-height: 34px;
  border-radius: initial;
  margin: 0;
  padding: 5px 10px 5px 20px;
}

.rx-header .rx-nav ul li:hover .rx-subnav ul li a {
  color: #333;
}

.rx-header .rx-nav ul li:hover .rx-subnav {
  display: block;
  background: #fff;
}

/* 内容区域 */
.rx-content {
  width: 1200px;
  margin: 0 auto;
}

/*banner*/
.rx-banner {
  height: 720px;
  /*background: url(../images/banner.jpg) no-repeat right bottom;
  background-size: contain;*/
  padding-top: 58px;
}

.rx-banner .bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/banner.jpg) no-repeat right bottom;
  background-size: cover;
}

.rx-banner .content {
  width: 100%;
  color: #3a3a3a;
  padding-left: 30px;
  z-index: 1;
}

.rx-banner .content h2 {
  font-size: 48px;
}

.rx-banner .content p {
  font-size: 26px;
  padding-top: 20px;
}

.rx-banner .content div {
  padding-top: 32px;
}

/*主体部分*/
.rx-main {
  width: 100%;
  margin: 0 auto;
}

.rx-grid-each {
  text-align: center;
  padding: 60px 0;
}

.rx-grid-each h2 {
  font-size: 26px;
  color: #000;
  margin-bottom: 10px;
}

/*我们的优势&关于我们*/
.rx-we-superiority ul li,
.rx-about-us ul li {
  float: left;
  width: 25%;
  margin-top: 68px;
}

.rx-about-us ul li{
  width: 33.333%;
}

.rx-we-superiority ul li i,
.rx-about-us ul li i {
  display: inline-block;
  font-size: 36px;
  color: #30a8ff;
}

.rx-we-superiority ul li p,
.rx-about-us ul li p {
  font-size: 14px;
  color: #888;
  line-height: 18px;
  margin-top: 10px;
}

.rx-we-superiority ul li h6 {
  font-size: 18px;
  color: #333;
  margin-top: 38px;
}

/* 图标背景 */
.rx-we-superiority ul li span.icon-bg {
  display: inline-block;
  width: 140px;
  height: 140px;
  line-height: 140px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 58px rgba(0, 0, 0, .05);
}

/* 字体图标 特殊处理 */
.rx-we-superiority ul li i.icon-zujian,
.rx-we-superiority ul li i.icon-denglujiemian-nenghaoshujufenxixitong {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.rx-we-superiority ul li i.icon-ketang {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

/* 说明部分 */
.rx-explain {
  text-align: center;
  padding-top: 30px;
}

.rx-explain .each-wrap {
  display: inline-block;
  margin-top: 50px;
}

.rx-explain .each-wrap:nth-child(3) {
  margin-top: 120px;
}

.rx-explain .each-wrap .declare {
  text-align: left;
}

.rx-explain .each-wrap .margin-l {
  margin: 140px 0 0 120px;
}

.rx-explain .each-wrap .margin-r {
  margin: 180px 100px 0 140px;
}

.rx-explain .each-wrap .margin-special {
  margin: 180px 0px 0 60px;
}

.rx-explain .each-wrap h6 {
  font-size: 26px;
  color: #fff;
  width: 400px;
  height: 76px;
  line-height: 76px;
  padding-left: 28px;
  margin-left: -18px;
}

/* 标题背景 */
.rx-explain .each-wrap h6.visual {
  background: url(../images/visual-tit-bg.png) no-repeat;
  background-size: contain;
}

.rx-explain .each-wrap h6.bi {
  background: url(../images/bi-tit-bg.png) no-repeat;
  background-size: contain;
}

.rx-explain .each-wrap h6.report {
  background: url(../images/report-tit-bg.png) no-repeat;
  background-size: contain;
}

.rx-explain .each-wrap h6.software {
  width: 584px;
  background: url(../images/software-tit-bg.png) no-repeat;
  background-size: contain;
}

.rx-explain .each-wrap p {
  font-size: 20px;
  color: #888;
  line-height: 30px;
  padding-top: 22px;
}

/*我们服务于*/
.rx-we-serve ul {
  margin-top: 42px;
}

.rx-we-serve ul li {
  float: left;
  width: 25%;
  padding: 0 8px;
  margin-top: 16px;
}

.rx-we-serve ul li div {
  position: relative;
  width: 240px;
  height: 240px;
  box-shadow: 0 4px 38px rgba(231, 231, 231, .75);
  margin: 0 auto;
}

/*客户评价*/
.rx-customer-evaluation ul {
  max-width: 680px;
  margin: 0 auto;
}

.rx-customer-evaluation ul li {
  margin-top: 50px;
}

.rx-customer-evaluation ul li p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.rx-customer-evaluation ul li span {
  display: block;
  text-align: right;
  color: #666;
  padding-top: 20px;
}

/*关于我们*/
.rx-about-us p.brief-introduction {
  font-size: 18px;
  color: #666;
  line-height: 32px;
  text-align: left;
  padding: 40px 10% 10px;
}

.rx-about-us ul li i {
  height: 56px;
}

.rx-about-us ul li:first-child i {
  font-size: 56px;
}

.rx-about-us ul li:nth-child(2) i {
  padding-top: 12px;
}

.rx-about-us ul li:last-child i {
  font-size: 52px;
  padding-top: 5px;
}

/*加入我们*/
.rx-join-us p {
  font-size: 18px;
  color: #666;
  padding: 40px 0 30px;
}

.rx-join-us div {
  padding-bottom: 40px;
}

/*可视化展示*/
.rx-visual {
  position: relative;
}

/*侧边栏*/
.rx-visual .rx-sidebar {
  position: fixed;
  top: 46px;
  left: 78px;
  bottom: 46px;
  width: 240px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px 0px 15px 20px;
}

.rx-visual .rx-sidebar ul {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.rx-visual .rx-sidebar ul li a {
  font-size: 14px;
  color: #333;
  line-height: 32px;
}

.rx-visual .rx-sidebar ul li a:hover,
.rx-visual .rx-sidebar ul li a.active {
  color: #50aff2;
}

/*可视化展示--右侧*/
.rx-page-component {
  padding: 0 50px 50px 368px;
}

.rx-page-component .rx-each-item {
  padding-top: 48px;
}

/*标题*/
.rx-page-component .rx-tit {
  position: relative;
}

.rx-page-component .rx-tit h2 {
  font-size: 28px;
}

.rx-page-component .rx-tit p {
  margin-top: 5px;
}

.rx-page-component .rx-tit i {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 24px;
}

/*子标题*/
.rx-page-component h3 {
  font-size: 20px;
  margin: 20px 0 5px;
}

.rx-page-component p {
  font-size: 14px;
  color: #666;
}

.rx-page-component p a {
  color: #50aff2;
}

/*页脚*/
.rx-footer {
  min-width: 1200px;
  background: #20242d;
  margin-top: 20px;
  overflow: hidden;
}

.rx-footer .content {
  width: 1200px;
  padding: 20px 0 50px;
  margin: 0 auto;
}

.rx-footer .each-column {
  float: left;
  width: 18%;
  padding-left: 26px;
}

.rx-footer .content .each-column:last-child {
  width: 28%;
  padding-left: 50px;
}

.rx-footer .each-column dl {
  display: inline-block;
  text-align: left;
  padding-top: 30px;
}

.rx-footer .each-column dl dt,
.rx-footer .each-column dl dd {
  line-height: 24px;
}

.rx-footer .each-column dl dt {
  color: #fff;
}

.rx-footer .each-column dl dd,
.rx-footer .each-column dl dd a,
.friendly-link ul li a {
  color: #a4aaaf;
}

.rx-footer .each-column dl dd a:hover,
.friendly-link ul li a:hover {
  color: #16acfa;
}

.rx-footer .bottom {
  width: 1200px;
  margin: 0 auto;
}

/* 友情链接 */
.friendly-link {
  border-top: 1px solid #3f434d;
  border-bottom: 1px solid #3f434d;
  padding-left: 20px;
}

.friendly-link ul li {
  float: left;
  height: 36px;
  line-height: 36px;
  color: #fff;
  padding-right: 28px;
}

/* 版权 */
.rx-footer .copyright {
  position: relative;
  height: 36px;
  line-height: 36px;
  color: #999;
  padding-left: 20px;
}

.rx-footer .copyright .right {
  position: absolute;
  top: 0;
  right: 20px;
}

.rx-footer .copyright .right a:not(:first-child) {
  padding-left: 8px;
}

.rx-footer .copyright a {
  color: #999;
}

.rx-footer .copyright a:hover {
  color: #fff;
}

.rx-footer .copyright a .code {
  position: absolute;
  bottom: 26px;
  left: -58px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  z-index: 999;
  display: none;
}

.rx-footer .copyright a .code:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 60px;
  border: 5px solid transparent;
  border-top-color: #fff;
  width: 0;
  height: 0;
}

.rx-footer .copyright a .code h6,
.rx-footer .copyright a:hover .code h6 {
  color: #585858;
  line-height: initial;
}

.rx-footer .copyright a .code p,
.rx-footer .copyright a:hover .code p {
  color: #888;
  line-height: 22px;
  padding-bottom: 10px;
}

.rx-footer .copyright a .wechat {
  height: 90px;
}

.rx-footer .copyright .right a i {
  display: inline-block;
  font-size: 20px;
}

.rx-footer .copyright .right a:first-child i {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rx-footer .copyright .right a:hover .code {
  display: block;
}

.nav-a {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.nav-item-li {
  box-sizing: border-box;
  border-left: 3px solid #fff;
  margin-bottom: 10px;
}

.nav-item-li:hover {
  border-left: 3px solid #30a8ff;
  background-color: #fafafa;
}

.nav-item {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
  padding: 5px 10px 5px 20px;
  text-align: left;
}

.rx-header .rx-nav ul li:hover a.nav-item {
  color: #333;
}

.nav-item-title {
  font-size: 15px;
  position: relative;
}

.nav-item-title .arrow {
  position: absolute;
  right: 2px;
  top: 20px;
  border: 5px solid #fff;
  border-left-color: #333;
  width: 0;
  height: 0;
}

.nav-item-description {
  font-size: 12px;
  font-weight: 300;
}

.rx-header .nav-item-li .rx-subnav {
  display: none;
  top: -5px;
  right: -100%;
}

.rx-header .nav-item-li:hover .rx-subnav {
  display: block;
}

.rx-header .rx-nav ul li:hover .subnav {
  display: none;
}

.rx-header .rx-nav ul li .nav-item-li:hover .subnav {
  display: block;
}

.rx-header .rx-nav .rx-subnav ul li {
  margin: 0 0 5px 0;
}

.rx-header .rx-nav .rx-subnav ul li a {
  line-height: 24px;
}

/* 服务于 */
.service-ul {
  padding: 0 1%;
  box-sizing: border-box;
}

.service-ul li {
  padding: 0 15px;
}

.service-ul li div {
  padding: 20px 0;
}

/* 蒙层 */
.rx-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .15);
  display: none;
}
