/*
    *自定义样式
*/
html, body, h1, h2, h3, h4, h5, h6, hr, div, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, i {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}

html, body, rx-wrap {
    width: 100%;
    height: 100%;
}

/*引用字体*/
@font-face {
    font-family: PF-JT;
    src: url("/style/fonts/PF-JT.otf");
}

body {
    font-family: "PF-JT", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica;
    font-size: 12px;
    color: #333;
    background: #fff;
}

a {
    text-decoration: none;
    outline: none;
    hide-focus: expression( this.hideFocus=true );
}

a:focus {
    outline: none;
}

input, button, select {
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica;
    outline: none;
}

input::-ms-clear {
    display: none;
}

ul, li {
    list-style: none;
}

img, a {
    border: 0 none;
}

i {
    display: inline-block;
}

em {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*浮动&清除浮动*/
.rx-fl {
    float: left;
}

.rx-fr {
    float: right;
}

.rx-clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*定位*/
.rx-relative {
    position: relative;
}

.rx-absolute {
    position: absolute;
}

/*居中*/
.rx-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*按钮*/
.btn {
    position: relative;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border-radius: 19px;
    padding: 0 22px;
}

.btn:before,.btn:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 19px;
}

.btn:before{
    background: #50aff2;
    z-index: -2;
}

.btn:after{
    background: transparent;
    z-index: -1;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(.5,1);
    transform: scale(.5,1);
    opacity: ;
}

.btn:hover:after{
    background: #55b9ff;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

/*头部*/
.rx-header {
    height: 58px;
    border-bottom: 1px solid rgba(237, 237, 237, .9);
    padding: 0 72px;
}

/*logo*/
.rx-header .rx-logo {
    padding: 12px 0 8px;
}

.rx-header .rx-logo img {
    width: 122px;
}

/*导航*/
.rx-header .rx-nav ul li {
    float: left;
}

.rx-header .rx-nav ul li a {
    display: block;
    line-height: 58px;
    font-size: 14px;
    color: #333;
}

.rx-header .rx-nav ul li a:hover, .rx-header .rx-nav ul li a.active {
    color: #50aff2;
}

.rx-header .rx-nav ul li:not(:last-child) a {
    margin-right: 52px;
}

/*banner*/
.rx-banner {
    height: 460px;
}

.rx-banner .content {
    width: 100%;
    text-align: center;
    color: #181818;
}

.rx-banner .content h2 {
    font-size: 48px;
}

.rx-banner .content p {
    font-size: 26px;
    padding-top: 20px;
}

.rx-banner .content div {
    padding-top: 32px;
}

/*主体部分*/
.rx-main {
    width: 1140px;
    margin: 0 auto;
}

.rx-grid {
    padding: 60px 0;
}

.rx-grid ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.rx-grid ul li i {
    font-size: 38px;
    height: 38px;
}

.rx-grid ul li:first-child i {
    font-size: 32px;
    padding-top: 3px;
}

.rx-grid ul li h6 {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
}

.rx-grid ul li p {
    color: #888;
    margin-top: 5px;
}

.rx-grid-each {
    text-align: center;
    padding: 60px 0;
}

.rx-grid-each h2 {
    font-size: 26px;
    color: #000;
    margin-bottom: 10px;
}

/*我们可以做&关于我们*/
.rx-we-do ul li, .rx-about-us ul li {
    float: left;
    width: 33.333%;
    margin-top: 52px;
}

.rx-we-do ul li i, .rx-about-us ul li i {
    font-size: 36px;
}

.rx-we-do ul li p, .rx-about-us ul li p {
    font-size: 18px;
    color: #585858;
    margin-top: 10px;
}

/*我们服务于*/
.rx-we-serve ul {
    margin-top: 42px;
}

.rx-we-serve ul li {
    float: left;
    width: 25%;
    padding: 0 8px;
    margin-top: 16px;
}

.rx-we-serve ul li div {
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 15px 0;
}

/*客户评价*/
.rx-customer-evaluation ul {
    max-width: 680px;
    margin: 0 auto;
}

.rx-customer-evaluation ul li {
    margin-top: 50px;
}

.rx-customer-evaluation ul li p {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}

.rx-customer-evaluation ul li span {
    display: block;
    text-align: right;
    color: #666;
    padding-top: 20px;
}

/*关于我们*/
.rx-about-us p.brief-introduction {
    font-size: 18px;
    color: #666;
    line-height: 32px;
    text-align: left;
    padding: 40px 10% 10px;
}

.rx-about-us ul li i {
    height: 56px;
}

.rx-about-us ul li:first-child i {
    font-size: 56px;
}

.rx-about-us ul li:nth-child(2) i {
    padding-top: 12px;
}

.rx-about-us ul li:last-child i {
    font-size: 52px;
    padding-top: 5px;
}

/*加入我们*/
.rx-join-us p {
    font-size: 18px;
    color: #666;
    padding: 40px 0 30px;
}

.rx-join-us div {
    padding-bottom: 40px;
}

/*页脚*/
.rx-footer .content {
    padding: 30px 0 50px;
}

.rx-footer .each-column {
    float: left;
    width: 25%;
    text-align: center;
}

.rx-footer .each-column dl {
    display: inline-block;
    text-align: left;
    padding-top: 30px;
}

.rx-footer .each-column dl dt, .rx-footer .each-column dl dd {
    line-height: 24px;
}

.rx-footer .each-column dl dt {
    color: #000;
}

.rx-footer .each-column dl dd a {
    color: #888;
}

.rx-footer .copyright {
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #000;
}

/*
    *屏幕自适应

/*屏幕小于1140*/
@media screen and (max-width: 1140px) {
    /*主体部分*/
    .rx-main {
        width: 100%;
    }
}

/*屏幕小于1000*/
@media screen and (max-width: 1000px) {
    /*我们可以做&关于我们&我们服务于&页脚*/
    .rx-grid ul li, .rx-we-do ul li, .rx-about-us ul li, .rx-we-serve ul li, .rx-footer .each-column {
        width: 50%;
    }

    .rx-grid ul li:not(:nth-child(-n+2)) {
        margin-top: 52px;
    }
}

/*屏幕小于768*/
@media screen and (max-width: 768px) {
    body {
        min-width: 320px;
    }

    /*按钮*/
    .btn {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 18px;
        border-radius: 15px;
    }

    /*头部*/
    .rx-header {
        height: 42px;
        padding: 0 10px;
    }

    /*logo*/
    .rx-header .rx-logo {
        padding: 8px 0 2px;
    }

    .rx-header .rx-logo img {
        width: 98px;
    }

    /*导航*/
    .rx-header .rx-nav ul li a {
        font-size: 12px;
        line-height: 42px;
    }

    .rx-header .rx-nav ul li:not(:last-child) a {
        margin-right: 12px;
    }

    /*banner*/
    .rx-banner .content h2 {
        font-size: 26px;
    }

    .rx-banner .content p {
        font-size: 18px;
    }

    /*每个条目标题*/
    .rx-grid-each h2 {
        font-size: 22px;
    }

    /*我们可以做&关于我们&我们服务于&页脚*/
    .rx-grid ul li, .rx-we-do ul li, .rx-about-us ul li, .rx-we-serve ul li, .rx-footer .each-column {
        width: 100%;
    }

    .rx-grid ul li {
        margin-top: 52px;
    }

    .rx-footer .each-column .wechat {
        padding-top: 52px;
    }

    .rx-about-us p.brief-introduction {
        font-size: 16px;
    }

    /*客户评价*/
    .rx-customer-evaluation ul {
        padding: 0 20px;
    }
}