/*
    *自定义样式
*/
html, body, h1, h2, h3, h4, h5, h6, hr, div, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, i {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box;
}

html, body, .rx-wrap {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  outline: none;
  hide-focus: expression( this.hideFocus=true );
}

a:focus {
  outline: none;
}

input, button, select {
  outline: none;
}

input::-ms-clear {
  display: none;
}

ul, li {
  list-style: none;
}

img, a {
  border: 0 none;
}

i {
  display: inline-block;
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*font-face声明字体*/
@font-face {
  font-family: 'webfont';
  src: url('/style/fonts/webfont.eot'); /* IE9*/
  src: url('/style/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/style/fonts/webfont.woff') format('woff'), /* chrome、firefox */ url('/style/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('/style/fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

/*webfont样式*/
.web-font {
  font-family: "webfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*浮动&清除浮动*/
.rx-fl {
  float: left;
}

.rx-fr {
  float: right;
}

.rx-clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*定位*/
.rx-relative {
  position: relative;
}

.rx-absolute {
  position: absolute;
}

/*居中*/
.rx-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*按钮*/
.btn {
  position: relative;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  background: #50aff2;
  border-radius: 19px;
  padding: 0 22px;
}

/*去除圆角*/
.rx-clear-radius {
  border-radius: 0 !important;
}

/*边距*/
.rx-margin-top-20 {
  margin-top: 20px;
}

.rx-padding-20-0 {
  padding: 20px 0;
}

.rx-padding-left-10 {
  padding-left: 10px;
}

.rx-padding-right-10 {
  padding-right: 10px;
}

/*头部*/
.rx-header {
  height: 58px;
  border-bottom: 1px solid rgba(237, 237, 237, .9);
  padding: 0 72px;
  background: #fff;
}

/*logo*/
.rx-header .rx-logo {
  padding: 12px 0 8px;
}

.rx-header .rx-logo img {
  width: 122px;
}

/*导航*/
.rx-header .rx-nav ul li {
  position: relative;
  float: left;
}

.rx-header .rx-nav ul li:not(:last-child) {
  margin-right: 52px;
}

.rx-header .rx-nav ul li a {
  display: block;
  line-height: 58px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.rx-header .rx-nav ul li:hover a,
.rx-header .rx-nav ul li a.active,
.rx-header .rx-nav .rx-subnav a.active {
  color: #50aff2;
}

/*子菜单*/
.rx-header .rx-nav .rx-subnav {
  position: absolute;
  top: 57px;
  right: -15px;
  border-radius: 5px;
  border: 1px solid #efefef;
  box-shadow: 0 4px 8px #f2f2f2;
  z-index: 999;
  display: none;
  width: 310px;
}

.rx-header .rx-nav .rx-subnav ul li {
  float: none;
  margin: 0;
}

.rx-header .rx-nav .rx-subnav ul li a {
  line-height: 34px;
}

.rx-header .rx-nav ul li:hover .rx-subnav ul li a {
  color: #333;
}

.rx-header .rx-nav ul li:hover .rx-subnav {
  display: block;
  background: #fff;
}

/*banner*/
.rx-banner {
  height: 460px;
}

.rx-banner .content {
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}

.rx-banner .content h2 {
  font-size: 48px;
}

.rx-banner .content p {
  font-size: 26px;
  padding-top: 20px;
}

.rx-banner .content div {
  padding-top: 32px;
}

/*主体部分*/
.rx-main {
  width: 1140px;
  margin: 0 auto;
}

.rx-grid {
  padding: 60px 0;
}

.rx-grid ul li {
  float: left;
  width: 25%;
  text-align: center;
}

.rx-grid ul li i {
  font-size: 38px;
  height: 38px;
}

.rx-grid ul li:first-child i {
  font-size: 32px;
  padding-top: 3px;
}

.rx-grid ul li h6 {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
}

.rx-grid ul li p {
  color: #888;
  margin-top: 5px;
}

.rx-grid-each {
  text-align: center;
  padding: 60px 0;
}

.rx-grid-each h2 {
  font-size: 26px;
  color: #000;
  margin-bottom: 10px;
}

/*我们可以做&关于我们*/
.rx-we-do ul li, .rx-about-us ul li {
  float: left;
  width: 33.333%;
  margin-top: 52px;
}

.rx-we-do ul li i, .rx-about-us ul li i {
  font-size: 36px;
}

.rx-we-do ul li p, .rx-about-us ul li p {
  font-size: 18px;
  color: #585858;
  margin-top: 10px;
}

/*我们服务于*/
.rx-we-serve ul {
  margin-top: 42px;
}

.rx-we-serve ul li {
  float: left;
  width: 25%;
  padding: 0 8px;
  margin-top: 16px;
}

.rx-we-serve ul li div {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 15px 0;
}

/*客户评价*/
.rx-customer-evaluation ul {
  max-width: 680px;
  margin: 0 auto;
}

.rx-customer-evaluation ul li {
  margin-top: 50px;
}

.rx-customer-evaluation ul li p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.rx-customer-evaluation ul li span {
  display: block;
  text-align: right;
  color: #666;
  padding-top: 20px;
}

/*关于我们*/
.rx-about-us p.brief-introduction {
  font-size: 18px;
  color: #666;
  line-height: 32px;
  text-align: left;
  padding: 40px 10% 10px;
}

.rx-about-us ul li i {
  height: 56px;
}

.rx-about-us ul li:first-child i {
  font-size: 56px;
}

.rx-about-us ul li:nth-child(2) i {
  padding-top: 12px;
}

.rx-about-us ul li:last-child i {
  font-size: 52px;
  padding-top: 5px;
}

/*加入我们*/
.rx-join-us p {
  font-size: 18px;
  color: #666;
  padding: 40px 0 30px;
}

.rx-join-us div {
  padding-bottom: 40px;
}

/*可视化展示*/
.rx-visual {
  position: relative;
}

/*侧边栏*/
.rx-visual .rx-sidebar {
  position: fixed;
  top: 46px;
  left: 78px;
  bottom: 46px;
  width: 240px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px 0px 15px 20px;
}

.rx-visual .rx-sidebar ul {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.rx-visual .rx-sidebar ul li a {
  font-size: 14px;
  color: #333;
  line-height: 32px;
}

.rx-visual .rx-sidebar ul li a:hover, .rx-visual .rx-sidebar ul li a.active {
  color: #50aff2;
}

/*可视化展示--右侧*/
.rx-page-component {
  padding: 0 50px 50px 368px;
}

.rx-page-component .rx-each-item {
  padding-top: 48px;
}

/*标题*/
.rx-page-component .rx-tit {
  position: relative;
}

.rx-page-component .rx-tit h2 {
  font-size: 28px;
}

.rx-page-component .rx-tit p {
  margin-top: 5px;
}

.rx-page-component .rx-tit i {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 24px;
}

/*子标题*/
.rx-page-component h3 {
  font-size: 20px;
  margin: 20px 0 5px;
}

.rx-page-component p {
  font-size: 14px;
  color: #666;
}

.rx-page-component p a {
  color: #50aff2;
}

/*代码块*/
.rx-page-component a.copy, .rx-page-component a.up {
  position: absolute;
  color: #888;
}

.rx-page-component a.copy {
  top: 10px;
  right: 10px;
}

.rx-page-component a.up {
  top: 8px;
  right: 38px;
  font-size: 18px;
}

.rx-page-component code {
  display: block;
  color: #333;
  background: #fafafa;
  border-radius: 5px;
  padding: 0 20px;
}

/*布局示例*/
.rx-demo-layout p.explain {
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #fafafa;
  padding-left: 15px;
  margin: 18px 0;
}

.rx-demo-layout .example-wrap {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.rx-demo-layout .example-wrap .code-block{
  display: none;
}

.rx-demo-layout .example-wrap .layout {
  padding: 10px;
}

.rx-demo-layout .example-wrap a.toggle-btn {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #e7e7e7;
}

/*布局*/
.row {
  padding: 10px;
}

.row .col {
  float: left;
}

.row .col-1-1 {
  width: 100%;
}

.row .col-1-2 {
  width: 50%;
}

.row .col-1-3 {
  width: 33.333%;
}

.row .col-2-3 {
  width: 66.666%;
}

.row .col-1-4 {
  width: 25%;
}

.row .col-3-4 {
  width: 75%;
}

.row .col-1-5 {
  width: 20%;
}

.row .col-2-5 {
  width: 40%;
}

.row .col-3-5 {
  width: 60%;
}

.row .col-4-5 {
  width: 80%;
}

.row .inner {
  height: 36px;
  border-radius: 5px;
}

.row .inner-height {
  height: 180px;
}

.row .inner-height-200 {
  height: 200px;
}

.row .inner-height-88 {
  height: 88px;
}

/*背景色*/
.bg-navy {
  background: #9ba9bd;
}

.bg-navy-odd {
  background: #d5dce5;
}

.bg-navy-even {
  background: #e6e9f1;
}

.bg-navy-layout {
  background: #e1e9f0;
}

.bg-navy-layout-1 {
  background: #e8ecf1;
}

.bg-navy-layout-2 {
  background: #f3f7fb;
}

.bg-1{
  background: #30a8ff;
}

.bg-2{
  background: #30bcf6;
}

.bg-3{
  background: #9ed050;
}

.bg-4{
  background: #f8b23a;
}

.bg-5{
  background: #f6623a;
}

.bg-6{
  background: #f64e80;
}

.bg-7{
  background: #9e62f6;
}

.bg-8{
  background: #6c62f6;
}

.bg-9{
  background: #333;
}

.bg-10{
  background: #666;
}

.bg-11{
  background: #999;
}

.bg-12{
  background: #d8d8d8;
}

/*上边框*/
.rx-border-top {
  border-top: 1px solid #e7e7e7;
}

/*color色彩*/
.rx-colour .row{
  padding: 10px 0;
}

.rx-colour .row .col .inner{
  height: 100px;
  padding: 26px 20px;
}

.rx-colour .row .col .inner p{
  color: #fff;
  line-height: 24px;
}

.rx-colour .row .col:first-child{
  padding-right: 15px;
}

.rx-colour .row .col:nth-child(2){
  padding: 0 10px 0 5px;
}

.rx-colour .row .col:nth-child(3){
  padding: 0 5px 0 10px;
}

.rx-colour .row .col:last-child{
  padding-left: 15px;
}

/*页脚*/
.rx-footer .content {
  padding: 30px 0 50px;
}

.rx-footer .each-column {
  float: left;
  width: 25%;
  text-align: center;
}

.rx-footer .each-column dl {
  display: inline-block;
  text-align: left;
  padding-top: 30px;
}

.rx-footer .each-column dl dt, .rx-footer .each-column dl dd {
  line-height: 24px;
}

.rx-footer .each-column dl dt {
  color: #000;
}

.rx-footer .each-column dl dd, .rx-footer .each-column dl dd a {
  color: #888;
}

.rx-footer .copyright {
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background: #000;
}

.rx-footer .copyright a {
  color: #fff;
}

  /*产品展示 页脚特殊处理*/
.rx-footer.special-handling {
  margin-top: 296px;
}

/*屏幕小于768*/
@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }

  /*按钮*/
  .btn {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 18px;
    border-radius: 15px;
  }

  /*头部*/
  .rx-header {
    height: 42px;
    padding: 0 10px;
  }

  /*logo*/
  .rx-header .rx-logo {
    padding: 8px 0 2px;
  }

  .rx-header .rx-logo img {
    width: 98px;
  }

  /*导航*/
  .rx-header .rx-nav ul li a {
    font-size: 12px;
    line-height: 42px;
  }

  .rx-header .rx-nav ul li:not(:last-child) a {
    margin-right: 12px;
  }

  .rx-header .rx-nav .rx-subnav{
    top: 41px;
  }

  /*banner*/
  .rx-banner .content h2 {
    font-size: 26px;
  }

  .rx-banner .content p {
    font-size: 18px;
  }

  /*每个条目标题*/
  .rx-grid-each h2 {
    font-size: 22px;
  }

  /*我们可以做&关于我们&我们服务于&页脚*/
  .rx-grid ul li, .rx-we-do ul li, .rx-about-us ul li, .rx-we-serve ul li, .rx-footer .each-column {
    width: 100%;
  }

  .rx-grid ul li {
    margin-top: 52px;
  }

  .rx-footer .each-column .wechat {
    padding-top: 52px;
  }

  .rx-about-us p.brief-introduction {
    font-size: 16px;
  }

  /*客户评价*/
  .rx-customer-evaluation ul {
    padding: 0 20px;
  }

  /*可视化展示页面*/
  .rx-page-component{
    padding-left: 50px;
  }

  .rx-visual .rx-sidebar{
    position: static;
    width: 92%;
    margin: 20px auto 0;
  }
}


/* 修改菜单样式 */

.rx-header .rx-nav .rx-subnav {
  width: 210px;
  padding: 5px 0 0;
}

.nav-a {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.nav-item-li {
  box-sizing: border-box;
  border-left: 2px solid #fff;
  margin-bottom: 10px;
}

.nav-item-li:hover {
  border-left: 2px solid #30a8ff;
  background-color: #fafafa;
}

.nav-item {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  box-sizing: border-box;
  padding: 5px 10px 5px 20px;
  text-align: left;
}

.rx-header .rx-nav ul li:hover a.nav-item {
  color: #333;
}

.nav-item-title {
  font-size: 15px;
  position: relative;
}

.nav-item-title .arrow {
  position: absolute;
  right: 15px;
  top: 8px;
  border: 5px solid #fff;
  border-left-color: #333;
  width: 0;
  height: 0;
}

.nav-item-description {
  font-size: 12px;
  font-weight: 300;
}


.rx-header .nav-item-li  .rx-subnav {
  display: none !important;
  top: -5px;
  right: -100%;
}

.rx-header .nav-item-li:hover  .rx-subnav {
  display: block !important;
}

.rx-header .rx-nav .rx-subnav ul li {
  margin: 0 0 5px 0;
}

.rx-header .rx-nav .rx-subnav ul li a {
  line-height: 24px;
}
