/* 屏幕小于1200 */
@media screen and (max-width: 1200px) {

  /* 头部 & 内容区域 & 页脚 & 友情链接 & 版权 */
  .rx-header .inner,
  .rx-content,
  .rx-footer .content,
  .rx-footer .bottom {
    width: auto;
  }

  /* banner */
  .rx-banner{
    background-size: cover;
  }

  /* 说明部分  每个内部条目 */
  .each-wrap > div {
    float: none;
  }

  .rx-explain .each-wrap .margin-special {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .rx-explain .each-wrap .margin-l {
    margin-top: 20px;
  }

  .rx-explain .each-wrap .margin-r {
    margin-top: 80px;
  }

  /* 我们服务于 */
  .rx-we-serve ul li div {
    height: 220px;
  }

  /* 页脚 */
  .rx-footer {
    min-width: initial;
  }
}

/* 屏幕小于992 */
@media screen and (max-width: 992px) {

  .rx-nav {
    float: none;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    background: #fff;
  }

  .rx-header .rx-nav ul li {
    float: none;
    padding-left: 20px;
  }

  .rx-header .rx-nav ul li a i.arrow-bottom {
    right: 20px;
  }

  .rx-header .rx-nav ul li:not(:last-child) {
    margin-right: 0;
  }

  /* 头部导航 */
  .rx-header .rx-nav {
    display: none;
  }

  /* 子导航 */
  .rx-header .rx-nav .rx-subnav {
    position: static;
    width: 100% !important;
    border-radius: 0;
    box-shadow: none;
    display: none;
  }

  .rx-header .rx-nav .rx-subnav ul li {
    padding-left: 0 !important;
  }

  .rx-header .rx-nav ul li.drop-down:hover .rx-subnav,
  .rx-header .rx-nav ul li.drop-down ul li.drop-down:hover .rx-subnav {
    display: none;
  }

  .nav-item-title .arrow {
    top: 24px;
    right: 20px;
    border-left-color: #fff;
    border-top-color: #000;
  }

  .rx-subnav ul li .rx-subnav {
    padding: 0;
  }

  .rx-subnav ul li .rx-subnav .nav-item-li,
  .rx-subnav ul li .rx-subnav .nav-item-li:hover {
    border-left: 0;
  }

  .nav-item {
    padding-right: 0;
  }

  .rx-header .rx-nav .rx-subnav.subnav .nav-item-li{
    padding-left: 20px !important;
  }

  /* 我们的优势 */
  .rx-we-superiority ul li {
    width: 50%;
    height: 250px;
  }

  /* 我们服务于 */
  .rx-we-serve ul li {
    width: 50%;
  }

  /* 页脚 */
  .rx-footer .each-column {
    width: 33.333%;
    height: 188px;
    text-align: center;
    padding-left: 0 !important;
  }

  .rx-footer .each-column:last-child {
    width: 66.666% !important;
  }
}

/* 屏幕小于768 */
@media screen and (max-width: 1000px) {

}
