<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ag-graph</title>
    <!--网站图标-->
    <link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		<!--banner-->
		<div class="aigo-banner-page">
			<!--header-->
			<div class="aigo-header">
				<!--logo-->
				<div class="aigo-logo">
					<a href="//www.aigodata.com">
						<img src="assets/img/aigodata-white.svg">
					</a>
					<span class="symbol">&</span>
					<a href="index.html">
						<img src="assets/img/ag-graph-logo.svg" class="logo">
						<span class="name">ag-graph</span>
					</a>
				</div>
				<!--github-->
				<!--<a href="#" class="aigo-github" title="访问GitHub">-->
					<!--<img src="img/github.svg" />-->
				<!--</a>-->
				<!--menu-->
				<ul class="aigo-menu">
          <li>
            <a target="_blank" href="api.html">文档</a>
          </li>
          <li>
            <a target="_blank" href="example/example.html">示例</a>
          </li>
					<li>
						<a href="updateLog.html">更新日志</a>
					</li>
					<li>
						<a href="commonProblem.html" class="active">常见问题</a>
					</li>
					<li>
						<a href="price.html">价格</a>
					</li>
				</ul>
			</div>
		</div>

		<!--commonProblem-->
		<div class="aigo-page-content">
			<div class="aigo-btn-box">
				<a href="javascript:void(0)" class="aigo-blue-btn">全部</a>
				<!--<a href="#" class="aigo-blue-btn">按条件</a>-->
			</div>
      <!-- 条目 -->
			<div class="aigo-commonproblem-box">
				<div class="question">
					<div class="question-icon">
						<img src="assets/img/question.svg">
					</div>
					<div class="question-content">
						做为第一条达到这里的常见问题, 您的获奖感言是?
					</div>
				</div>
				<div class="answer">
					<div class="question-icon">
						<img src="assets/img/answer.svg">
					</div>
					<div class="question-content">
						谢谢大家的厚爱和支持, ag-graph才能逐渐顺利走向市场, ag-graph团队会不定期把大家常见的问题汇总到这里,
            最后殷切的期待, ag-graph能在日常工作中帮您解决问题, 并带来工作效率的提升.
					</div>
				</div>
			</div>

		</div>

    <!--footer-->
    <div class="aigo-footer">
      <a href="//aigodata.com">aigodata 前端团队</a>
    </div>
	</body>
</html>
