<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ag-graph</title>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		<!--banner-->
		<div class="aigo-banner">
			<!--header-->
			<div class="aigo-header">
				<!--logo-->
				<div class="aigo-logo">
					<a href="//www.aigodata.com">
						<img src="assets/img/aigodata-white.svg">
					</a>
					<span class="symbol">&</span>
					<a href="index.html">
						<img src="assets/img/ag-graph-logo.svg" class="logo">
						<span class="name">ag-graph</span>
					</a>
				</div>
				<!--github-->
				<!--<a href="#" class="aigo-github" title="访问GitHub">-->
					<!--<img src="img/github.svg" />-->
				<!--</a>-->
				<!--menu-->
				<ul class="aigo-menu">
          <li>
            <a target="_blank" href="api.html">文档</a>
          </li>
          <li>
            <a target="_blank" href="example/example.html">示例</a>
          </li>
					<li>
						<a href="updateLog.html">更新日志</a>
					</li>
					<li>
						<a href="commonProblem.html">常见问题</a>
					</li>
					<li>
						<a href="price.html">价格</a>
					</li>
				</ul>
			</div>
			<!--banner-content-->
			<div class="aigo-banner-content">
				<div class="font">简单精美的视图绘制工具</div>
				<a href="example/example.html" class="btn">查看示例</a>
			</div>
		</div>

		<!--fastUse-->
		<div class="aigo-fastUse">
			<div class="aigo-fastUse-header">
				<img src="assets/img/aigo-header-pic01.png">
				<span class="column-name">快速使用</span>
			</div>
			<div class="aigo-fastUse-body">
				<div class="aigo-light-box pull-left">
					content
				</div>
				<div class="aigo-light-box pull-right">
					content
				</div>
				<div class="clear-both"></div>
			</div>
		</div>

		<!--is it?-->
		<div class="aigo-cloud-bg">
			<div class="aigo-column-box">
				<div class="column-left">
					<div class="aigo-column-title">
						<img src="assets/img/aigo-header-pic02.png">
						<span class="column-name aigo-white">ag-graph是什么？</span>
					</div>
					<div class="aigo-column-content aigo-white">
						ag-graph是一款专业的图形化界面开发工具集.伴随着大数据, 人工智能的快速发展, 数据可视化走上舞台. ag-graph应运而生.
					</div>
				</div>
				<div class="column-right">
					<img src="assets/img/aigo-column-pic01.png" class="aigo-column-pic">
				</div>
			</div>
		</div>

		<!--why need?-->
		<div class="aigo-column-box">
			<div class="column-left width-40">
				<img src="assets/img/aigo-column-pic02.png" class="aigo-column-pic">
			</div>
			<div class="column-right width-60" style="padding-left: 80px;">
				<div class="aigo-column-title">
					<img src="assets/img/aigo-header-pic03.png">
					<span class="column-name aigo-black">为什么需要ag-graph？</span>
				</div>
				<div class="aigo-column-content aigo-black">
					你是否遇到过需要可视化展示的时候，苦苦寻觅找不到?<br />
					或者找到了无法深度定制? 或者憋闷过UI粗糙不够美观?<br />
					或者提交issues无人理会叫天不应的抓狂?<br />
 					ag-graph:  “这都不是事儿”.
				</div>
			</div>
		</div>

		<!--characteristics and advantages-->
		<div class="aigo-purple-bg">
			<div class="aigo-column-box">
				<div class="column-left">
					<div class="aigo-column-title">
						<img src="assets/img/aigo-header-pic04.png">
						<span class="column-name aigo-white">ag-graph特点和优势</span>
					</div>
					<div class="aigo-column-content aigo-white">
						<span class="aigo-font-circle">●</span>商业版本, 快速响应特殊需求.<br />
						<span class="aigo-font-circle">●</span>API简单易用, 成熟稳定, 可扩展性强.<br />
						<span class="aigo-font-circle">●</span>基于SVG样式易于修改, 想象无极限.<br />
						<span class="aigo-font-circle">●</span>调试方便, 右击直接查看生成图形.<br />
					</div>
				</div>
				<div class="column-right">
					<img src="assets/img/aigo-column-pic03.jpg" class="aigo-column-pic" style="padding-top: 14px;">
				</div>
			</div>
		</div>

		<!--myfriends-->
		<div class="aigo-column-box">
			<div class="aigo-fastUse">
				<div class="aigo-fastUse-header">
					<img src="assets/img/aigo-header-pic05.png">
					<span class="column-name">我们的朋友</span>
				</div>
				<div class="aigo-fastUse-body">
					<div class="aigo-light-box aigo-light-box-three">
						<img src="assets/img/firends-logo01.jpg">
					</div>
					<div class="aigo-light-box aigo-light-box-three">
						<img src="assets/img/firends-logo02.jpg">
					</div>
					<div class="aigo-light-box aigo-light-box-three">
						<img src="assets/img/firends-logo03.jpg">
					</div>
					<div class="clear-both"></div>
				</div>
			</div>
		</div>

		<!--welcomeconsultation-->
		<div class="aigo-welcomeconsultation">
			<div class="aigo-btn-box">
				<a href="price.html#aigo-QRcode" class="aigo-blue-btn aigo-welcome-btn">欢迎咨询</a>
			</div>
		</div>

    <!--footer-->
    <div class="aigo-footer">
      <a href="//aigodata.com">aigodata 前端团队</a>
    </div>
	</body>
</html>
