<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ag-graph</title>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/pluginunit/fancySelect/css/fancySelect.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		<!--banner-->
		<div class="aigo-banner-page">
			<!--header-->
			<div class="aigo-header">
				<!--logo-->
				<div class="aigo-logo">
					<a href="//www.aigodata.com">
						<img src="assets/img/aigodata-white.svg">
					</a>
					<span class="symbol">&</span>
					<a href="index.html">
						<img src="assets/img/ag-graph-logo.svg" class="logo">
						<span class="name">ag-graph</span>
					</a>
				</div>
				<!--github-->
				<!--<a href="#" class="aigo-github" title="访问GitHub">-->
					<!--<img src="img/github.svg" />-->
				<!--</a>-->
				<!--menu-->
				<ul class="aigo-menu">
          <li>
            <a target="_blank" href="api.html">文档</a>
          </li>
          <li>
            <a target="_blank" href="example/example.html">示例</a>
          </li>
					<li>
						<a href="updateLog.html">更新日志</a>
					</li>
					<li>
						<a href="commonProblem.html">常见问题</a>
					</li>
					<li>
						<a href="price.html" class="active">价格</a>
					</li>
				</ul>
			</div>
		</div>

		<!--price-->
		<div class="aigo-page-content-1094">
			<div class="aigo-btn-box">
				<select id="basic-usage-demo">
					<option>ag-graph v1.0.2</option>
					<!--<option>ag-graph 1.1.0</option>-->
					<!--<option>ag-graph 1.2.0</option>-->
				</select>
			</div>
			<div class="overflow-hidden">
				<div class="aigo-price-box">
					<div class="price-header">
						<div class="name">基础版</div>
						<div class="price aigo-red">
							<span class="small-font">¥</span> 8,888
						</div>
					</div>
					<div class="price-content">
						<ul class="price-list">
							<li>
								<span class="pull-left">永久授权</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定使用人数</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定项目数量</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">无水印，无植入</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">提供小版本免费升级</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">完善的API文档</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">丰富的示例展示</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">常见的问题解答</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
						</ul>
					</div>
				</div>

				<div class="aigo-price-box">
					<div class="price-header">
						<div class="name">普通版</div>
						<div class="price aigo-red">
							<span class="small-font">¥</span> 28,888
						</div>
					</div>
					<div class="price-content">
						<ul class="price-list">
							<li>
								<span class="pull-left">永久授权</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定使用人数</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定项目数量</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">无水印，无植入</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">提供小版本免费升级</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">完善的API文档</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">丰富的示例展示</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">常见的问题解答</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left aigo-red">支持皮肤定制</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
						</ul>
					</div>
				</div>

				<div class="aigo-price-box">
					<div class="price-header">
						<div class="name">高级版</div>
						<div class="price aigo-red">
							<span class="small-font">¥</span> 48,888
						</div>
					</div>
					<div class="price-content">
						<ul class="price-list">
							<li>
								<span class="pull-left">永久授权</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定使用人数</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">不限定项目数量</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">无水印，无植入</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">提供小版本免费升级</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">完善的API文档</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">丰富的示例展示</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">常见的问题解答</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left aigo-red">支持皮肤定制</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left aigo-red">支持部分功能定制开发</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left aigo-red">提供技术培训</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left aigo-red">提供技术支持</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
						</ul>
					</div>
				</div>

				<div class="aigo-price-box">
					<div class="price-header">
						<div class="name" style="margin-bottom: 37px;">高级版&nbsp; Pro</div>
						<div class="price aigo-blue" style="font-size: 24px;">
							联系我们
						</div>
					</div>
					<div class="price-content">
						<ul class="price-list">
							<li>
								<span class="pull-left">支持高级版所有功能</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
							<li>
								<span class="pull-left">支持深度定制</span>
								<img src="assets/img/check.svg" class="pull-right" height="13">
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!--二维码-->
			<div class="aigo-QRcode" id="aigo-QRcode" name="aigo-QRcode">
				购买或咨询请扫码<br>
				<img src="assets/img/QRcode.jpg" width="122">
			</div>
		</div>

		<!--footer-->
    <div class="aigo-footer">
      <a href="//aigodata.com">aigodata 前端团队</a>
    </div>

		<script src="assets/js/jquery-2.1.0.min.js"></script>
		<script src="assets/pluginunit/fancySelect/js/fancySelect.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#basic-usage-demo').fancySelect();
			});
		</script>
	</body>
</html>
