<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ag-graph</title>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	</head>
	<body>
		<!--banner-->
		<div class="aigo-banner-page">
			<!--header-->
			<div class="aigo-header">
				<!--logo-->
				<div class="aigo-logo">
					<a href="//www.aigodata.com">
						<img src="assets/img/aigodata-white.svg">
					</a>
					<span class="symbol">&</span>
					<a href="index.html">
						<img src="assets/img/ag-graph-logo.svg" class="logo">
						<span class="name">ag-graph</span>
					</a>
				</div>
				<!--github-->
				<!--<a href="#" class="aigo-github" title="访问GitHub">-->
					<!--<img src="img/github.svg" />-->
				<!--</a>-->
				<!--menu-->
				<ul class="aigo-menu">
					<li>
            <a target="_blank" href="api.html">文档</a>
					</li>
					<li>
						<a target="_blank" href="example/example.html">示例</a>
					</li>
					<li>
						<a href="updateLog.html" class="active">更新日志</a>
					</li>
					<li>
						<a href="commonProblem.html">常见问题</a>
					</li>
					<li>
						<a href="price.html">价格</a>
					</li>
				</ul>
			</div>
		</div>

		<!--updatelog-->
		<div class="aigo-page-content">
      <div class="aigo-updatelog-box">
				<div class="edition">
					<span class="circle"></span>
					<span class="pull-left">1.0.2</span>
					<div class="clear-both"></div>
				</div>
				<div class="message">
					<div class="date">2017-11-22</div>
					<ul class="message-list">
						<li>优化 复选机制变化: 节点(node)，点(point)，连线(line) 都需要通过 shift+点击 来进行复选 </li>
						<li>优化 添加点(point)的机制变化: 从 shift+点击连线 ==>双击连线</li>
						<li>新增 连线(line)自动计算位置: 当连线上只有2个点时，移动关联的节点时，会根据关联节点位置重新计算连线的开始和结束位置</li>
						<li>新增 连线(line)文本: 连线可以通过设置text 来添加文本</li>
					</ul>
				</div>
			</div>
      <div class="aigo-updatelog-box">
				<div class="edition">
					<span class="circle"></span>
					<span class="pull-left">1.0.1</span>
					<div class="clear-both"></div>
				</div>
				<div class="message">
					<div class="date">2017-11-15</div>
					<ul class="message-list">
						<li>优化 agGraph.selection.add/agGraph.selection.remove 输入由原来的单个节点(node)修改为多个节点(node[])。</li>
						<li>优化 点击节点(node)默认行为由原来切换当前节点(node)的选中状态修改为：取消其他节点(node)的选中状态，切换当前节点(node)的选中状态</li>
						<li>优化 shift+点击节点(node)：切换当前节点(node)的选中状态(也就是说，如果想多选节点(node) 请用shift+click)</li>
					</ul>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="aigo-footer">
      <a href="//aigodata.com">aigodata 前端团队</a>
		</div>
	</body>
</html>
